extends layout

block content
  h1 #{participant.name}
  br
  h5 #[strong Name:] #{participant.name}
  h5 #[strong Address:] #{participant.address}
  h5 #[strong Email:] #{participant.email}
  h5 #[strong Participant Type:] #{participant.participantType}
  h5 #[strong School:] a(href=participant.url) #{participant.highSchoolName}
  hr
  p

