extends layout

block content
  h1= title

  ul
    each participant in participantList
      li
        a(href=participant.url) #{participant.name}
        |  (#{participant.date_of_birth} - #{participant.date_of_death})

    else
      li There are no participants.
